*{
  margin: 0;
  padding:0;
  font-family: Times New Roman;
}

body{
  color:white;


}

h1{
  margin-bottom: 7%;
  text-align: center;
  color: white;
  border-bottom: 1px white solid;
  text-decoration: none;
}

h2{
  margin-top: 5%;
  margin-right: 2%;
  margin-bottom: 4%;
  margin-left: 2%;
  text-align: center;
  border: 1px red solid;
  color: white;
}

h3{
  margin-top: 7%;
  margin-left: 3%;
  margin-bottom: 4%;
  color: white;
}

h4{
  text-align: center;
  margin-top: 5%;
  margin-left: 8%;
  margin-bottom: 2%;
  color: white;
  font-size: 20px;
}

h6{
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 9%;
}
.alterLink{
  margin-right: 2%;
  margin-left: 2%;
  
  padding-bottom: 2%;
  border-bottom: 1px red solid;
  text-decoration: none;
  color: white
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: red;
}

.linkAnime{
  margin-top: 4%;
  margin-left: 7%;
  color: white;
}

.linkEp{
  margin-top: 3%;
  margin-left: 7%;
  color: white;
}
  
.foto{
  background-color: gray;
}

/* Atualizações de Envios */
.mural{
  color: white;
  margin-left: 6%;
  margin-top: 2%;
  text-align: center;
}

/* Episodios dos Animes */

.epAnime{
  text-align: center;
  margin-left: 10%;
}

/* Logo da Lista de Animes */

.logo{
  margin-left: 2%;
  border-top: 2px red solid;
  border-bottom: 2px red solid;
  margin-right: 2%;
}

.logo-Anime{
  width: 150px;
  height: 100%;
  text-align: center;
  margin-top: 3px;
}


.logo a button{
  display: block;
  padding-top: 0.5%;
  text-align: center;
  background-color: rgb(124, 32, 32);
  color: white;
  border-radius: 6px;
  padding-left: 1%;
  padding-right: 1%;
  padding: 1%;
  transition: .5s;
  margin-bottom: 1px;
  border: 1px solid transparent;
  font-weight: bold;
  cursor: pointer;
}

.logo a{
  font-size: 20px;
}

.logo a:hover button{
  background-color: red;
  border-color: black;
}

/* Botão de Voltar e Proxima */

.btn-VP{
  margin-top: 5%;
  margin-left: 7%;
}

.btn-VP .proximo{
  margin-left: 70%;
  border: 1px red solid;
  padding: 0 3% 0 3%;
  text-align: center;
}  

.btn-VP .voltar{
  margin-left: 70%;
  border: 1px red solid;
  padding: 0 3% 0 4%;
  text-align: center;
}

/* Cadastro de Contas */
.criarC{
  background: grey;
  color: white;
  font-weight: 500;
  display: flex;
  min-height: 100vh;
}

main{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1{
  border-bottom: 1px white solid;
}

main h2{
  color: rgb(124, 32, 32);
  font-size: 3rem;
  margin-bottom: 3rem;
  border: 1px transparent 
}

main .social-media{
  display: flex;
  align-content: center;
}

main .social-media a{
  text-decoration: none;
}

main .social-media img{
  width: 36px;
  margin-left: 3rem;
}

main .social-media a:first-child img{ /* O a:first-child é para pegar a primeira imagem e modificar só ela */
  margin-left: 0;
}

main form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form label{
  display: flex;
  flex-direction: column;
}

main form label span{
  font-size: 1.2rem;
  margin-top: 2rem;
}

main form input{
  background-color: rgb(136, 133, 133);
  width: 300px;
  height: 50px;
  padding-left: 1%;
  margin-top: 1rem;
  outline: none;
  color: white;
  font-size: 1rem;
  border: 1px solid rgb(124, 32, 32);
  border-radius: 8px;
}

main form input[type="submit"]{
  cursor: pointer;
  width: 50%;
  margin-top: 4rem;
  border: none;
  border-radius: 32px;
  background: rgb(124, 32, 32);
  color: white;
  font-size: 1.1rem;
  transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover{
  background: red;
}  

section.images{
  display: flex;
  padding: 4rem;
  align-items: flex-end;
}

section .images img{
  width: 90%;
}

section.images .circle{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgb(124,32,32), grey);
  clip-path: circle(50% at right 80%);
  z-index: -1;
}

main .alternative{
  margin-top: 1rem;
}

main .alternative span{
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  position: relative;
}

main .alternative span::before, main .alternative span::after{
  position: absolute;
  content: '';
  height: 1px;
  width: 100px;
  bottom: 50%;
  right: 50px;
  background:rgb(124, 32, 32);
}

main .alternative span::after{
  left: 50px;
}